<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="holder text-center">
        <%= form_tag "/months/new", method: :post do %>
          <div class="form-group">
            <%= label_tag :name %>
            <%= select_tag(:name, options_for_select([['January', 'January'], ['February', 'February'], ['March', 'March'], 
                                                      ['April', 'April'], ['May', 'May'], ['June', 'June'], 
                                                      ['July', 'July'], ['August', 'August'], ['September', 'September'], 
                                                      ['October', 'October'], ['November', 11], ['December', 12]], @current_month))%>
          </div>
          <div class="form-group">
            <%= label_tag :year %>
            <%= select_tag(:year, options_for_select(@year_range, @year)) %>
          </div>
          <div class="form-group">
            <%= label_tag :current_or_past? %>
            <%= select_tag(:current, options_for_select([['Current', true], ['Past', false]])) %>
          </div>
          <div class="form-group">
            <%= submit_tag "Create Month", class: "btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>