<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1><%= @month.name %>, <%= @month.year %></h1>
    </div>
  </div>
  <div class="holder">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Status</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <h3>Total income: <%= number_to_currency(@month.total(@income)) %></h3> 
      </div>
      <div class="col-xs-4">
        <h3>Total expenses: <%= number_to_currency(@expenses) %></h3> 
      </div>
      <div class="col-xs-4"> 
        <h3>Total remaining: <%= number_to_currency(@balance) %></h3> 
      </div>
    </div>
  </div>
  <% if @month.current %>
    <div class="row text-center">
      <%= form_tag "/months", method: :post do  %>
        <%= hidden_field_tag :savings, @total_savings %>
        <%= hidden_field_tag :bills, @total_bills %>
        <%= hidden_field_tag :groceries, @total_groceries %>
        <%= hidden_field_tag :intoxicants, @total_intox %>
        <%= hidden_field_tag :transportation, @total_transport %>
        <%= hidden_field_tag :pets, @total_pets %>
        <%= hidden_field_tag :misc, @total_misc %>
        <%= hidden_field_tag :income, @total_income %>
        <%= hidden_field_tag :entertainment, @total_bme %>
        <%= hidden_field_tag :restaurants, @total_restaurants %>
        <%= hidden_field_tag :month_id, @month.id %>
        
        <%= submit_tag "End Month (archive expenses)", class: "btn-warning" %>
      <% end %>

    </div>
    <% end %>
  <% if @month.current %>
  <div class="row text-center">
    <div class="col-xs-12">
      <h2>Add an expense</h2>
      <button class="show-form btn-success" data-name="manual">Manually</button>
      <button class="show-form btn-info" data-name="csv">By uploading a CSV file</button>
      <button class="hide-form btn-danger">Hide form</button>
    </div>
    <div class="col-xs-12 entry-manual entry-form">
      <%= form_tag '/entries', method: :post do %>
        <%= label_tag :name %>
        <%= text_field_tag :name, nil, placeholder: "Name" %>

        <%= label_tag :amount %>
        <%= text_field_tag :amount, nil, placeholder: "Amount" %>

        <%= label_tag :category %>
        <%= collection_select :category, :category_id, Category.all, :id, :name %>

        <%= hidden_field_tag :month_id, @month.id %>

        <%= submit_tag "Submit" %>

      <% end %>
    </div>
    <div class="col-xs-12 entry-csv entry-form">
      <%= form_tag import_entries_path, multipart: true, method: :post do %>
        <label for="sheet" class="form-label" >Choose file</label>
        <%= file_field_tag :sheet, class: "input-file" %>
        <%= hidden_field_tag :month_id, @month.id %>
        <%= submit_tag 'Submit', class: "btn-success" %>
      <% end %>
    </div>
  </div>
    <% end %>
</div>
<div class="container">
  <div class="cat-row">
    <div class="col-xs-12 expense-category text-center">
      <h2>Income: <%= number_to_currency(@total_income) %></h2>
      <h3>Average income: <%= number_to_currency(@average_income) %></h3>
      <div class="category-details">
        <div class="row">
          <% @income.each do |entry| %>
          <div class="col-xs-4 entry-details">
          <b><%= entry[0] %></b>: <%= number_to_currency(entry[1]) %>
          <%= link_to "Delete", "/entries/#{entry[2]}", method: :delete %>
          </div>
          <% end %>
        </div>
      </div>
      <span class="show-details">Show Details</span>
      <span class="hide-details">Hide Details</span>
      
    </div>
  </div>
  <div class="cat-row">
    <div class="col-xs-4 expense-category">
      <h2>Savings: <%= number_to_currency(@total_savings) %></h2>
      <h3>Average savings: <%= number_to_currency(@average_savings) %></h3>
      <div class="category-details">
        <div class="row">
          <% @savings.each do |entry| %>
          <div class="col-xs-4 entry-details">
          <b><%= entry[0] %></b>: <%= number_to_currency(entry[1]) %>
          <%= link_to "Delete", "/entries/#{entry[2]}", method: :delete %>
          </div>
          <% end %>
        </div>
      </div>
      <span class="show-details">Show Details</span>
      <span class="hide-details">Hide Details</span>
    </div>
    <div class="col-xs-4 expense-category">
      <h2>Bills: <%= number_to_currency(@total_bills) %></h2>
      <h3>Average bills: <%= number_to_currency(@average_bills) %></h3>
      <div class="category-details">
        <div class="row">
          <% @bills.each do |bill| %>
            <div class="col-xs-4 entry-details">
            <b><%= bill[0] %></b>: <%= number_to_currency(bill[1]) %>
            <%= link_to "Delete", "/entries/#{bill[2]}", method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
      <span class="show-details">Show Details</span>
      <span class="hide-details">Hide Details</span>
    </div>
    <div class="col-xs-4 expense-category">
      <h2>Groceries: <%= number_to_currency(@total_groceries) %></h2>
      <h3>Average groceries: <%= number_to_currency(@average_groceries) %></h3>
      <div class="category-details">
        <div class="row">
          <% @groceries.each do |grocery| %>
            <div class="col-xs-4 entry-details">
            <b><%= grocery[0]  %></b>: <%= number_to_currency(grocery[1]) %>
            <%= link_to "Delete", "/entries/#{grocery[2]}", method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
      <span class="show-details">Show Details</span>
      <span class="hide-details">Hide Details</span>
    </div>
  </div>
  <div class="cat-row">
    <div class="col-xs-4 expense-category">
      <h2>Intoxicants: <%= number_to_currency(@total_intox) %></h2>
      <h3>Average intoxicants: <%= number_to_currency(@average_intoxicants) %></h3>
      <div class="category-details">
        <div class="row">
          <% @intox.each do |entry| %>
            <div class="col-xs-4 entry-details">
            <b><%= entry[0]  %></b>: <%= number_to_currency(entry[1]) %>
            <%= link_to "Delete", "/entries/#{entry[2]}", method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
      <span class="show-details">Show Details</span>
      <span class="hide-details">Hide Details</span>
    </div>
    <div class="col-xs-4 expense-category">
      <h2>Transportation: <%= number_to_currency(@total_transport) %></h2>
      <h3>Average transportation: <%= number_to_currency(@average_transportation) %></h3>
      <div class="category-details">
        <div class="row">
          <% @transport.each do |entry| %>
            <div class="col-xs-4 entry-details">
            <b><%= entry[0]  %></b>: <%= number_to_currency(entry[1]) %>
            <%= link_to "Delete", "/entries/#{entry[2]}", method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
      <span class="show-details">Show Details</span>
      <span class="hide-details">Hide Details</span>
    </div>
    <div class="col-xs-4 expense-category">
      <h2>Pets: <%= number_to_currency(@total_pets) %></h2>
      <h3>Average pets: <%= number_to_currency(@average_pets) %></h3>
      <div class="category-details">
        <div class="row">
          <% @pets.each do |entry| %>
            <div class="col-xs-4 entry-details">
            <b><%= entry[0]  %></b>: <%= number_to_currency(entry[1]) %>
            <%= link_to "Delete", "/entries/#{entry[2]}", method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
      <span class="show-details">Show Details</span>
      <span class="hide-details">Hide Details</span>
    </div>
  </div>
  <div class="cat-row">
    <div class="col-xs-4 expense-category">
      <h2>Restaurants: <%= number_to_currency(@total_restaurants) %></h2>
      <h3>Average restaurants: <%= number_to_currency(@average_restaurants) %></h3>
      <div class="category-details">
        <div class="row">
          <% @restaurants.each do |entry| %>
            <div class="col-xs-4 entry-details">
            <b><%= entry[0]  %></b>: <%= number_to_currency(entry[1]) %>
            <%= link_to "Delete", "/entries/#{entry[2]}", method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
      <span class="show-details">Show Details</span>
      <span class="hide-details">Hide Details</span>
    </div>
    <div class="col-xs-4 expense-category">
      <h2>Bars, Movies, Entertainment: <%= number_to_currency(@total_bme) %></h2>
      <h3>Average: <%= number_to_currency(@average_entertainment) %></h3>
      <div class="category-details">
        <div class="row">
          <% @bme.each do |entry| %>
            <div class="col-xs-4 entry-details">
            <b><%= entry[0]  %></b>: <%= number_to_currency(entry[1]) %>
            <%= link_to "Delete", "/entries/#{entry[2]}", method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
      <span class="show-details">Show Details</span>
      <span class="hide-details">Hide Details</span>
    </div>
    <div class="col-xs-4 expense-category">
      <h2>Miscellaneous: <%= number_to_currency(@total_misc) %></h2>
      <h3>Average miscellaneous: <%= number_to_currency(@average_miscellaneous) %></h3>
      <div class="category-details">
        <div class="row">
          <% @misc.each do |entry| %>
            <div class="col-xs-4 entry-details">
            <b><%= entry[0]  %></b>: <%= number_to_currency(entry[1]) %>
            <%= link_to "Delete", "/entries/#{entry[2]}", method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
      <span class="show-details">Show Details</span>
      <span class="hide-details">Hide Details</span>
    </div>
  </div>
</div>

